body {
  font-family: sans-serif;
  background-color: #ffe1e1;
}

h1,
h2 {
  text-align: center;
}

h1 {
  color: green;
  background-color: yellow;
  padding: 1rem;
}

h1:hover {
  color: red;
  cursor: pointer;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container > div {
  padding: 1rem;
  background-color: #4d79ff;
  margin: 1rem;
  border-radius: 5px;
  width: 10rem;
  overflow: auto;
}

.container > div:hover {
  background-color: #2259fe;
  cursor: pointer;
  box-shadow: 0 2px 10px #2259ff;
  transform: scale(1.1);
}

.container > div:hover h2 {
  color: rgb(91, 255, 91);
  background-color: rgb(255, 255, 127);
  padding: 1rem;
}

@media (min-width: 800px) {
  .container > div {
    background-color: red;
  }
}
